/* Body */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  background-color: #17191c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  max-width: 1142px;
  margin: 0 auto;
}
