/* Events */

.events__container {
  margin-top: 180px;
  margin-bottom: 144px;
}

.events__list {
  display: flex;
  margin: 50px 0px 54px;
}

.events__item:not(:last-child) {
  margin-right: 23px;
}
