/* Footer */

.footer {
  align-items: center;
  height: 93px;
}

.footer__container {
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.footer__block {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 46px;
  border-top: 1px solid #2e3032;
}

.footer__menu {
  margin-left: 130px;
}

.footer__info {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  margin-left: auto;
}

.footer__socials {
  display: inline-block;
  bottom: 3px;
  margin-left: 112px;
}

.footer__logo {
  bottom: 8px;
  transform: translateY(-5px);
}