/* Footer */

.footer__container {
  display: flex;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 50px;
  border-top: 1px solid #2e3032;
  justify-content: space-between;
}

.footer--border-top .footer__block {
  border-top: 1px solid #2e3032;
}

.footer__logo {
  transform: translateY(-5px);
}

.footer__menu {
  flex: 1;
  margin-left: 100px;
}

.footer__socials {
  flex: 1;
}

.footer__info {
  display: inline-block;
  text-align: right;
  font-size: 14px;
}
