/* Footer */

.footer {
  align-items: center;
  height: 93px;
}

.footer__container {
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}

.footer__block {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 46px;
  border-top: 1px solid #2e3032;
  justify-content: space-between;
}

.footer__logo {
  transform: translateY(-5px);
}

.footer__menu {
  flex: 1;
  margin-left: 100px;
}

.footer__socials {
  flex: 1;
}

.footer__info {
  display: inline-block;
  text-align: right;
  font-size: 14px;
}