/* Offers */

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offers__item:nth-child(3n):not(:last-child) {
  margin-bottom: 20px;
}

.offers__item:not(:nth-child(3n)) {
  margin-right: 27px;
}

.offers__item:last-child {
  margin-right: 0;
}
