/* Reviews */

.reviews {
  background-color: #ffffff;
}

.reviews__container {
  padding-top: 94px;
  padding-bottom: 80px;
}

.reviews__list {
  columns: 2;
  column-gap: 27px;
  margin-bottom: 75px;
}

.reviews__item:nth-child(2n + 1) {
  margin-bottom: 17px;
}
