.services {
  background-color: #ffffff;
}

.services__container {
  padding-top: 93px;
  padding-bottom: 84px;
}

.services__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.services__item:not(:last-child) {
  margin-bottom: 49px;
}
