/* Breadcrumbs */

.breadcrumbs {
  color: #9a9a9a;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  display: flex;
}

.breadcrumbs__link {
  display: block;
  color: #9a9a9a;
  text-decoration: underline;
}

.breadcrumbs__item:not(.breadcrumbs__item--active)::after {
  content: "/";
  padding: 0px 0.2em;
}

.breadcrumbs__item--active {
  font-weight: bold;
}
