/* Menu */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__item {
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 51px;
}

.menu__item--active .menu__link {
  pointer-events: none;
  color: #ff3d00;
}